/*-------------------------------------------
RESET
----------------------------------------------*/

a {
    outline: none;
}

ul > li {
    display: inline-block;
    margin-right: -4.26px;
    vertical-align: top;
}

/*-------------------------------------------
COMMON
----------------------------------------------*/